<ion-content>
    
</ion-content>

<ion-footer class="no-scroll ion-no-border">
  <div class="content">
    <div [ngClass]="status ? 'drag-menu closed' : 'drag-menu'">
      <div class="drag-area" (click)="clickEvent()">
        <div class="drag-line"></div>
      </div>
      <span>Que quieres hacer?</span>
      <div class="drag-item-container">
        <div class="drag-item">
          <div class="drag-item-icon">
            <fa-icon [icon]="faComment"></fa-icon>
          </div>
        </div>
        <div class="drag-item">
          <div class="drag-item-icon">
            <fa-icon [icon]="faShareAlt"></fa-icon>
          </div>
        </div>
        <div class="drag-item dangerous">
          <div class="drag-item-icon">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
